# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Build
dist/

# Dependency directories
node_modules/

# dotenv environment variable files
.env

# yarn v2 | npm | pnpm
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.pnp.*

# Steam IDs
src/games.json